  {%- macro add_header(page_num, max_pages, doc, letter_head, no_letterhead) -%}
      {% if letter_head  %}
      <div class="letter-head">{{ letter_head }}</div>
      {% endif %}
  {% if no_letterhead %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  {% endif %}
    {%- if doc.meta.is_submittable and doc.docstatus==0-%}
      <div class="alert alert-info text-center">
          <h4 style="margin: 0px;">{{ _("PROFORMA") }}</h4>
      </div>
    {%- endif -%}
    
    {%- if doc.meta.is_submittable and doc.docstatus==2-%}
      <div class="alert alert-danger text-center">
          <h4 style="margin: 0px;">{{ _("CANCELLED") }}</h4>
      </div>
    {%- endif -%}
    
    {% if max_pages > 1 %}
      <p class="text-right">{{ _("Page #{0} of {1}").format(page_num, max_pages) }}</p>
    {% endif %}
  
  {%- endmacro -%}

  {{ add_header(0,1,doc,letter_head, no_letterhead) }}
    <div id="footer-html" class="visible-pdf">
      {% if not no_letterhead and footer %}
      <div class="letter-head-footer">
        {{ footer }}
      </div>
      {% endif %}
      <p class="text-center small page-number visible-pdf">
        {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
      </p>
    </div>
  <div >
          <h2 class="text-center">Delivery Note</h2>
  </div>
  
  <table class="table table-bordered" style="margin-top:2px;">
    <tr>
      <td width="25%"><b>Customer Name</b></td>
      <td width="25%">{{ doc.customer }}</td>
        <td width="25%"> <label>D.O No</label> </td>
      <td width="25%">{{ doc.name}}</td>
    </tr>
    <tr>
      <td rowspan="2"><b>Address</b></td>
      <td rowspan="2">{{ doc.address_display or ''}}</td>
      <td><label>Date </label></td>
      <td>{{ doc.get_formatted("posting_date") or ''}}</td>
    </tr>
       <td><label>L.P.O No</label></td>
      <td>{{ doc.po_no}}</td>
    <tr>
      <td><b>INV REF NO</b></div></td>
      <td>{{ doc.inv_ref_no  or ' '}}</td>
      <td><label>Sales Order No</label></td>
      <td>{{ doc.items[0].against_sales_order or ' '}}</td>
    </tr>
  </table>
   <table class="table table-condensed table-hover table-bordered">
          <tr>
              <th class = "col-sm-1" style=text-align:center;>S NO</th>
              <th class = "col-sm-3" style=text-align:center;>Item Code</th>
              <th class = "col-sm-6" style=text-align:center;>DESCRIPTION</th>
              <th class="col-sm-1 text-center" >UNIT</th>
              <th class="col-sm-1 text-center">QTY </th>
          </tr>
          {%- for row in doc.items -%}
          <tr>
              <td style="width: 5%;text-align:center;">{{ row.idx }}</td>
              <td style="width: 10%;">{{ row.item_code or '' }}</td>
              <td style="width: 35%; text-align: left;">  {{ row.description or '' }} </td>
              <td style="width: 2%; text-align: center;">{{ row.stock_uom }}</td>
              <td style="width: 1%; text-align: center;">{{ row.qty }}</td>
          </tr>
           {% if row.page_break -%}
            </tbody>
            </table>
 
        


        <div class="page-break"></div>  
            {% if letter_head  %}
          <div class="letter-head">{{ letter_head }}</div>
            {% endif %}
             {% if no_letterhead %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>{% endif %}
            <br>
            <br>
            <br>
      <div>
            <h2 class="text-center">Delivery Note</h2>
      </div>
  
   
      <table class="table table-condensed table-hover table-bordered">
        <thead>
        <tr>
              <th class = "col-sm-1" style=text-align:center;>S NO</th>
              <th class = "col-sm-2" style=text-align:center;>Item Code</th>
              <th class = "col-sm-6" style=text-align:center;>DESCRIPTION</th>
              <th class="col-sm-1 text-center" >UNIT</th>
              <th class="col-sm-1 text-center">QUANTITY </th>
          </tr>
        </thead>
        <tbody>
        {%- endif %}

          {%- endfor -%}

  </table>{% if doc.coc_term %}
  <div class="col-xs-12">
    <div class="row">
        <div class="col-xs-3" style="margin-left:-15px;"><b>Remarks :</b></div>
      <div class="col-xs-9" style="margin-left:-80px;">{{ doc.coc_term or '' }}</div>
     </div>
  </div>{%- endif %}
  <div class="col-xs-12">
  <div class="row">
  {%- if doc.transporter_name -%}
          <div class="row">
            <div class="col-xs-3" style="margin-left:-1px;"><label><b>Driver :</b></label></div>
            <div class="col-xs-6" style="margin-left:-87px;">{{ doc.transporter_name}}</div>
  {%- endif -%}
  {%- if doc.lr_no -%}
            <div class="col-xs-4" style="margin-left: -217px;"><label>VEHICLE-</label></div>
            <div class="col-xs-4" style="margin-left: -170px;">{{ doc.lr_no}}</div>
            </div>
   {%- endif -%}
  </div>
  </div>
  {%- if doc.terms -%}
  <div class="row">
      <div class="col-xs-12"><b>Terms & Conditions:</b></div>
    <div class="col-xs-12 text-left">{{ doc.terms or '' }}</div>
  </div>
  {%- endif -%} 
  <div class="row">
      <div class="col-xs-6">    
              <div class="row">
                  <div class="col-xs-7 text-right"><big></big></div>
                  <div class="col-xs-5 "> </div>
              </div>
      </div> 
     <div class="col-xs-6">  
          <div class="row">
    <div class="col-xs-4 "><big></big></div>
      <div class="col-xs-12" align="right"><big><b>For EVEREST METAL INDUSTRIES L.L.C</b></big><br></div>
    </div>  
      </div>    
  </div><br>
  <div class="row">
     <div class="col-xs-6">
        <div class="row">
           <div class="col-xs-7 text-left"><big><hr style="solid-1px"></big></div>
           <div class="col-xs-5 "> </div>
        </div>
     </div>
     <div class="col-xs-6">
        <div class="row">
           <div class="col-xs-4 "></div>
           <div class="col-xs-2 text-right"></div>
           <div class="col-xs-6" style="margin-left:-86px;width:71%"><big><hr></big></div>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-xs-6">
        <div class="row">
           <div class="col-xs-7 text-center"><big>Received By</big></div>
           <div class="col-xs-5 "></div>
        </div>
     </div>
     <div class="col-xs-6">
        <div class="row">
           <div class="col-xs-4 "><big></big></div>
           <div class="col-xs-2 text-right"><big></big></div>
           <div class="col-xs-6" style="margin-left: -59px;" align="center"><big>Authorised Signature</big></div>
        </div>
     </div>
  </div>


